<div class="row">
  <div class="span7 project">
    <h3>
      <a href="#">{{ name }}</a>
      <small>A Time Stamp Here</small>
    </h3>
  </div>

  <div class="span4 buttons">
    <button class="btn btn-primary view-project-btn">View</button>
    <button class="btn btn-primary edit-project-btn">Edit</button>
    <a href="#deploy-last-commit" role="button" data-toggle="modal" class="btn btn-warning deploy-btn">Deploy</a>
    <a href="#delete-project" role="button" data-toggle="modal" class="btn btn-danger delete-btn">Delete</a>
  </div>
</div>

<div class="row">
  <div class="view-project">
    <div class="span6">
      <h4> General Info </h4>
      <ul>
        <li>Github Link: <a href="{{ github_url }}">{{ github_repository }}</a></li>
        <li>Last Deploy: None Yet </li>
        <li>Git Branch: {{ branch }}</li>
        <li>Build Command: {{ build_step }}</li>
        <li>Build Directory: {{ build_dir }}</li>
        <li>S3 Bucket: {{ s3_bucket }}</li>
      </ul>
      {{#if last_commit}}
    </div>
    <div class="span6">
      <h4> Most Recent Commit </h4>
      <ul>
        <li>Ref: <a href="{{ github_repository }}/{{#with last_commit}}{{ git_ref }}">{{ git_ref}}</a></li>
        <li>Commiter: {{ commit_user }}</li>
        <li>Message: {{ commit_message }}</li>
        <li>Time: {{ commit_time }}</li>
        {{/with}}
      </ul>
      {{else}}
      <h4>No Recent Commits</h4>
      {{/if}}
      <button class="btn btn-primary">Show Previous Deploys</button>
    </div>
  </div>
  <div class="edit-project">
    <form>
      <fieldset>
        <legend>Edit Zookeeper Project - {{ name }}</legend>
        <div class="span6">
          <label>S3 Bucket Name</label>
          <input name="s3-bucket" type="text" value="{{ s3_bucket }}" />
          <label>Git Branch</label>
          <input name="git-branch" type="text" value="{{ branch }}" />
        </div>
        <div class="span6">
          <label>Build Step</label>
          <input name="build-step" type="text" value="{{ build_step }}" />
          <label>Build Directory</label>
          <input name="build-dir" type="text" value="{{ build_dir }}" />
          <br />
          <button type="submit" class="btn">Update Project</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div id="deploy-last-commit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deploy-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="deploy-modal-header">Deploy Last Commit</h3>
  </div>
  <div class="modal-body">
    <p> You are about to deploy commit #<a href="{{ github_repository }}/{{#with last_commit}}{{ git_ref }}{{/with}}">{{#with last_commit}}{{ git_ref }}{{/with}}</a>  from {{ name }} to the S3 bucket {{ s3_bucket }}.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger final-deploy-btn">Deploy</button>
  </div>
</div>

<div id="delete-project" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="delete-modal-header">Delete Project</h3>
  </div>
  <div class="modal-body">
    <p> You are about to delete {{ name }}. This cannot be undone.<p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger final-delete-btn">Delete</button>
  </div>
</div>
